@use "../abstract/breakpoints" as *;
@use "../abstract/colors" as *;
@use "../abstract/fonts" as *;
@use "../abstract/functions" as *;
@use "../abstract/mixins" as *;

.join-team{
  &__listWrapper{
    max-width: rem(420);
    ul li{
      padding-block:em(12);
      font-size: rem(18);
      line-height: 1.4;
      border-bottom: 1px solid $clr-gray-lighter;
      @include breakpoint-lg{
        font-size: rem(20);
      }
    }
  }
}

.work{
  &__body{
    max-width: 40rem;
  }
}

.timeline {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  gap: 30px;

  &::before {
    content: "";
    position: absolute;
    top: 20px; /* align with arrow middle */
    left: 0;
    width: calc(100% - 164px);
    height: 6px;
    background: $clr-black;
    z-index: 1;
  }
}

.step {
  flex: 1;
  position: relative;
  z-index: 2;
  max-width: rem(280);

  .step-title {
    font-size: rem(20);
    line-height: 1.5;
    color: #003a53;
    margin-top: rem(32);
    @include breakpoint-md{
      font-size:rem(22);
       margin-top: rem(40);
    }
    @include breakpoint-xl{
      font-size:rem(24);
      margin-top: rem(48);
    }
  }
  .step-subtitle{
    margin-top: rem(24);
  }
}

.arrow {
  width: 0;
  height: 0;
  border-left: 28px solid $clr-primary; /* green arrow */
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  margin: 0 auto 20px auto;
  margin-left: 0;
  position: relative;
  top: 7px;
}


/* Responsive */
@media  only screen and (max-width:768px) {
  .timeline {
    flex-direction: column;
    align-items: flex-start;
  }

  .timeline::before {
    display: none; /* hide horizontal line */
  }

  .arrow {
    margin-left: 0;
  }

  .step {
    text-align: left;
    margin-bottom: 24px;
  }

  .step p {
    max-width: 100%;
  }
}


.idea{
  &__list{
    li{
      display: flex;
      align-items: center;
      gap:rem(16);
      span{
        margin-top: 0;
        line-height: 1.25;
      }
    }
  }
}